target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/static/
!**/src/test/resources/
/bin/
/out/
.idea/
.vscode/
*.iml
*.iws
*.ipr
.mvn/
!.mvn/wrapper/
.DS_Store
atlassian-ide-plugin.xml
com_zeroc_icegridgui.prefs
log/
*.log
temp/
tmp/
